*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #53B3CB;
    text-align: center;
}
.container{
    height: 70vh;
    display:flex;
    justify-content: center;
    align-items: center;

}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color:#E01A4F;
    background-color:rgb(229, 141, 156);

}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2D2A32;
    color: #ffff;
    border-radius:1rem;
    border:none;
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #2D2A32;
    color: #ffff;
    border-radius:1rem;
    border:none;
}
#msg{
    color:#E01A4F;
    font-size: 8vmin;
}
.msgcontainer{
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide{
    display: none;
}